@media(max-width: 786px) {
    
    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: 100%;
        background-position-y: top ;
    }

   .header img {
        height: 30px;
        margin-top: 30px;
        margin-left:30px;
    }

    .about {
       display: flex;
       flex-direction: column;
    }

    .about .about-img {
        max-width: 82%;
        margin: 41px auto;  
    }
    
    .about .informations {
        text-align: center;    
        padding: 0 35px;
     }

     .about .informations h2 {
        font-size: 24px;
    }

    .about .informations p {
        font-size: 16px;
    }

    .about .informations button {
       font-size: 12px;
        width: 200px;
        align-self: center;
    }
    
    .footer .social {
        justify-content: center;
        padding: 50px 0 20px;
        
    }
    .footer .social a {
    font-size: 16px;
    padding: 0 3px;
    }
    
}
